body{
    /*background-color: rgba(160, 28, 28, 0.774);*/
    font-family: 'Courier New', Courier, monospace;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 23%, rgba(255,0,0,1) 100%);
}
form {
    display: flex;
    justify-content: center;

}
#pop-up{
   position: relative;
   top: 40px; left: 40px;
}

h1{
    display: flex;
    justify-content: center;
    /*color: rgb(211, 165, 50);*/
    font-size: 50px;
    animation: color-change 1s infinite;
      
}
@keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
  }
#movies-grid{
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
    
}

.load-more-movies-btn{
    display: flex;
    margin: auto;
    padding: 5px;
    padding: 7px;
    justify-content: center;
    font-size: small;
    background-color: rgb(153, 88, 153);
    color: white;
}
#search-input {
    border-radius: 10px;
    min-width: 12vw;
}
#search-input:hover {
    background-color: rgb(214, 147, 147); /* Add a dark-grey background on hover */
  }
#movie-title{
    text-align: center;
    color:rgb(226, 214, 102);
    font-weight: bold;
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

#close-search-btn{
    display: flex;
    margin: auto;
    min-width: 5vw;
    justify-content: center;
}

.movie-poster{
    display: block;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    border-radius: 20px;
}
#movie-votes{
    text-align: center;
    font-size: medium;
    color:rgb(214, 151, 33);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.hidden{
    display: none;
}

@media (max-width: 1000px) {
    #movies-grid{
        grid-template-columns: 1fr 1fr 1fr;
      }
    }

@media (max-width: 800px) {
#movies-grid{
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
#movies-grid{
    grid-template-columns: 1fr;
    }
}